
@model IEnumerable<E_Commerce.Models.Product>

@{
    ViewBag.Title = "Shop";
}



        <main style="margin-top:70px">
            
            <div class="grid">
                @foreach(var item in Model) { 
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">@item.Name</h1>
                    </header>
                    <div class="card__image">
                        <img src=@item.ImgURL>
                            
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">@item.Price</h2>
                        <p class="product__description">@item.description</p>
                    </div>
                    <div class="card__actions">
                        <button class="btn">Add to Cart</button>
                    </div>
                </article>
                }
            </div>
            
            
            
        </main>
       







        

