
@model IEnumerable<E_Commerce.Models.Product>

@{
    ViewBag.Title = "Shop";
}



        <main style="margin-top:70px">
            
            <div class="grid">
                @foreach(var item in Model) {

                    if (item.Quantity != 0)
                    {
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">@item.Name</h1>
                        </header>
                        <div class="card__image">
                            <img src=@item.ImgURL>

                        </div>
                        <div class="card__content">
                            <h2 class="product__price">@item.Price</h2>
                            <p class="product__description" style="margin-top:5px">@item.description</p>
                        </div>
                        <div class="card__actions">
                            
                            @if (Session["email"].ToString() != "admin@admin.com")
                            {
                            <button class="btn" onclick="location.href='CartSet/?id=@item.ID&&name=@item.Name&&price=@item.Price&&quantaty=@item.Quantity&&&description=@item.description'">Add to Cart</button>
                            }
                        </div>

                    </article>
                    }

                }

                        </div>
            
            
            
        </main>


       







        

